body {
    color: #2e3436;
    background-color: #eeeeec;
    margin: auto;
}

@media only screen and (min-width: 41pc) {
    body {
        width: 40pc;
    }
}

@media (max-width: 40pc) {
    img {
        max-width: 38pc;
        height: auto;
        width: 100%;
    }
}

header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.page-link {
    font-weight: bold;
    font-size: x-large;
}

footer {
    margin-top: 0.5em;
    color: #888a85;
    text-align: center;
    clear: both;
    margin-bottom: 0.5em;
}

footer a {
    color: #888a85;
}

article {
    text-align: left;
    padding: 2em;
    border-color: #888a85;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.article-separator {
    margin-bottom: 0.5em;
}

.post-body {
    hyphens: auto;
}

pre {
    overflow-x: auto;
}

/** links */
a {
    background-color: inherit;
    color: #204a87;
}

a:visited {
    color: #5c3566;
}

/** kill borders around link-images */
a img {
    border: 0px;
}

/** Diffs */
ins {
    text-decoration: none;
    color: #4e9a06;
}

del {
    text-decoration: line-through;
    color: #888a85;
}
