---
permalink: /en/posts/index.html
layout: default.njk
noTitle: true
title: All posts
lang: en
langPrefix: en/
creator: Dmitry Dzhus
siteTitle: Dmitry's journal
---
{% set posts = collections.postsEn %}
{% include "post-list.njk" %}
