---
pagination:
  data: allPhotosEn
  size: 100
  alias: unused
permalink: "{% if pagination.pageNumber == 0 %}/en/photos/index.html{% else %}/en/photos/page/{{ pagination.pageNumber + 1 }}.html{% endif %}"
layout: default.njk
bodyClass: all-photos
lang: en
eleventyComputed:
  title: "{{ tripUi[lang].allPhotos }}"
  previousPageUrl: "{{ pagination.href.previous }}"
  nextPageUrl: "{{ pagination.href.next }}"
---
{% include "photos/index.njk" %}
