---
permalink: /en/trips/index.html
layout: default.njk
bodyClass: trips-index
title: Trips
lang: en
langPrefix: en/
creator: Dmitry Dzhus
siteTitle: Dmitry's journal
---
{% set tripsList = tripsEn %}
{% include "trips/list.njk" %}
