---
pagination:
  data: tripsEn
  size: 1
  alias: trip
permalink: "/en/trips/{{ trip.slug }}/index.html"
layout: default.njk
bodyClass: trip-page
lang: en
eleventyComputed:
  title: "{{ trip.title }}"
---
{% include "trips/trip.njk" %}
