---
pagination:
  data: tripPhotosEn
  size: 1
  alias: item
permalink: "/en/trips/{{ item.trip.slug }}/photo/{{ item.photo.basename }}.html"
layout: default.njk
bodyClass: trip-photo
lang: en
langPrefix: en/
creator: Dmitry Dzhus
siteTitle: Dmitry's journal
eleventyComputed:
  title: "{{ item.trip.title }} — {{ item.photo.displayCapturedAt }}"
---
{% include "trips/photo.njk" %}
