---
permalink: /index.html
layout: default.njk
noTitle: true
lang: ru
langPrefix: ""
creator: Дмитрий Джус
siteTitle: Журнал Дмитрия
---
{% set posts = collections.postsRu | head(5) %}
{% include "index.njk" %}
