---
pagination:
  data: trips
  size: 1
  alias: trip
permalink: "/trips/{{ trip.slug }}/index.html"
layout: default.njk
bodyClass: trip-page
eleventyComputed:
  title: "{{ trip.title }}"
---
{% include "trips/trip.njk" %}
