---
pagination:
  data: tripPhotos
  size: 1
  alias: item
permalink: "/trips/{{ item.trip.slug }}/photo/{{ item.photo.basename }}.html"
layout: default.njk
bodyClass: trip-photo
eleventyComputed:
  title: "{{ item.trip.title }} — {{ item.photo.displayCapturedAt }}"
---
{% include "trips/photo.njk" %}
