<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="dc:creator" content="Дмитрий Джус" />
    <meta property="dc:creator" content="Dmitry Dzhus" xml:lang="en" />

    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/default.css" />

    $if(previousPageUrl)$
    <link rel="prev" href="$previousPageUrl$" />
    $endif$

    $if(nextPageUrl)$
    <link rel="next" href="$nextPageUrl$" />
    $endif$

    <title>Дмитрий Джус</title>
  </head>
  <body>
    <header>
      <a class="logo" href="/"><img src="/images/planet.png" /></a>
    </header>

    <main role="main">
      $body$
    </main>

    <footer>
      <a href="/about">Дмитрий Джус</a>, 2005-2017
    </footer>
  </body>
</html>
