{% set langDef = languages[lang] %}
<article>
  <h1>{{ siteTitle }}</h1>
  {{ langDef.latestPosts }}
  {% for post in posts %}
  <h3><a href="{{ post.url }}">{{ post.data.title }}</a> — {{ post.data.displayDate }}</h3>
  {% endfor %}
  <a href="{{ langDef.allPostsUrl }}">{{ langDef.allPosts }}</a>
  •
  <a href="{{ langDef.tripsUrl }}">{{ langDef.trips }}</a>
  •
  <a href="{{ langDef.allPhotosUrl }}">{{ langDef.allPhotos }}</a>
  •
  <a href="{{ langDef.switchLangUrl }}">{{ langDef.switchLangLabel }}</a>
  •
  <a href="{{ langDef.tagsUrl }}">{{ langDef.tags }}</a>
</article>
