<!-- We keep post title in an outside <h1> so that potential h1's --
  -- inside the post content would not be viewed as starting new --
  -- sections on the same level -->
<h1>$title$</h1>
<p class="post-date">$date$</p>
$if(hasTags)$
<section>Метки: $tags$.</section>
$endif$

<p class="post-body">$body$</p>

<a rel="bookmark" href="$url$">¶</a>

<div style="float: right;">
<a href="https://github.com/dzhus/blog/commits/master/$path$">git</a>
•
$if(alternates)$
  $for(alternates)$
    <a href="$url$">.md</a>
  $endfor$
$endif$
</div>
