<article>
  <h1>{{ title }}</h1>
  <ul>
    {% for post in posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a> — {{ post.data.displayDate }}
    </li>
    {% endfor %}
  </ul>
</article>
